<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie2.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.movie2.bean.Admin">
        <id column="admin_id" property="adminId" />
        <result column="admin_username" property="adminUsername" />
        <result column="admin_pwd" property="adminPwd" />
        <result column="teliphomenumber" property="teliphomenumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, admin_username, admin_pwd, teliphomenumber
    </sql>

    <!--管理员登录-->
    <select id="adminLogin"  resultType="com.movie2.bean.Admin">
        SELECT admin_username,admin_pwd
        FROM admin
        where
            admin_username = #{admin_username}
          AND admin_pwd = #{admin_pwd}

    </select>
</mapper>
