<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie2.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.movie2.bean.Comments">
        <id column="comments_id" property="commentsId" />
        <result column="user_id" property="userId" />
        <result column="comment" property="comment" />
        <result column="time" property="time" />
        <result column="movie_id" property="movieId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comments_id, user_id, comment, time, movie_id
    </sql>

<!--    <delete id="deleteById" parameterType="Integer">-->
<!--        delete  from comments where user_id = #{user_id}-->
<!--    </delete>-->
</mapper>
