<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie2.mapper.MTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.movie2.bean.MType">
        <result column="type" property="type" />
        <result column="movie_id" property="movieId" />
        <result column="name" property="name" />
        <result column="release_date" property="releaseDate" />
        <result column="score" property="score" />
        <result column="introduction" property="introduction" />
        <result column="heat" property="heat" />
        <result column="director" property="director"/>
        <result column="actor" property="actor"/>
        <result column="image" property="image"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        type, movie_id, name, release_date, score, introduction, heat, director, actor,image
    </sql>
<!--movieInfo-->
    <select id="movieInfo" resultType="com.movie2.bean.MType">
        select * from m_type where movie_id=#{movie_id}
    </select>
</mapper>
