<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie2.mapper.TypesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.movie2.bean.Types">
        <id column="type_id" property="typeId" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        type_id, type
    </sql>

<!--    添加类型-->
    <insert id="addType" >
        insert into types (type)
        value (#{type});
    </insert>
<!--  删除类型  -->
    <delete id="deleteType">
        delete all from types where type_id=#{type_id};
    </delete>

    <!--    修改类型信息-->
    <update id="updateTypes">
        update movies
        set
        type_id = #{typeId},
        type = #{type}
        where
        <if test="typeId!=null and typeId!=''">
            type_id=#{typeId}
        </if>
    </update>

    <!--通过类型名模糊查找-->
    <select id="findType" resultType="com.movie2.bean.Types">
        select * from types where type like concat('%',#{type},'%')
    </select>
    <!--查找所有类型-->
    <select id="findAllTypes" resultType="com.movie2.bean.Types">
        select
        <include refid="Base_Column_List"/>
        from types
    </select>
</mapper>
