<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie2.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.movie2.bean.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phonenumber" property="phonenumber" />
        <result column="img" property="img"/>
        <result column="nickname" property="nickname"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, age, sex, phonenumber, type_id
    </sql>
    <!--用户登录-->
    <select id="findByUsernameAndPassword"  resultType="com.movie2.bean.User">
    SELECT username,password
    FROM user
    where
        username = #{username}
        AND password = #{password}

    </select>
<!--用户注册-->
    <insert id="insert" >
        insert into user (username,password,age,sex,phonenumber,img,nickname)
        values (#{username},#{password},#{age},#{sex},#{phonenumber},#{img},#{nickname})
    </insert>
    <!--查找所有用户-->
    <!--查找操作需要设置resoultType-->
    <select id="findAllUser" resultType="com.movie2.bean.User">
        select * from user
    </select>
    <!--模糊查询用户-->
    <select id="findUserByUsername" resultType="com.movie2.bean.User">
        select * from user where username like concat('%',#{username},'%')
    </select>
<!--User findOneUserByUsername(@Param("username") String username);-->
    <select id="findOneUserByUsername" resultType="com.movie2.bean.User">
        select * from user where username = #{username}
    </select>
</mapper>
