<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/userInformation.css" />
</head>

<body>
<div class="big">
    <header>
        <h1>个人信息</h1>
        <form action="/" method="post">
            <input id="d" type="image" src="static/img/return.png" />
        </form>
    </header>
</div>
<form action="/" method="post">
    <section>
        <div>
            <img th:src="@{static/upload/{id}(id=${user.img})}" style="height:120px;width:120px;border-radius:50%">
        </div>
        <div>
            <h2 style="display:inline"><img id="t" src="static/img/username.png">用&nbsp 户 &nbsp名：</h2>
            <p th:text="${user.username}" style="display:inline"></p>
        </div>

        <div>
            <h2 style="display:inline"><img id="t" src="static/img/password.png">昵&nbsp &nbsp &nbsp &nbsp称：</h2>
            <p th:text="${user.nickname}" style="display:inline"></p>
        </div>
        <div>
            <h2 style="display:inline"><img id="t" src="static/img/birth.png">出生日期：</h2>
            <p th:text="${user.age}" style="display:inline"></p>
        </div>
        <div>
            <h2 style="display:inline"><img id="t" src="static/img/sex.png">性&nbsp &nbsp &nbsp &nbsp别：</h2>
            <p th:text="${user.sex}" style="display:inline"></p>
        </div>
        <div>
            <h2 style="display:inline"><img id="t" src="static/img/phonenum.png">电&nbsp &nbsp &nbsp &nbsp话：</h2>
            <p th:text="${user.phonenumber}" style="display:inline"></p>
        </div>
        <div th:each="type :${userTypes}">
            <h2 style="display:inline"><img id="t" src="static/img/xihuan.png">喜欢类型：</h2>
            <p th:text="${type.utype}" style="display:inline"></p>
        </div>
        <div>
            <input id="btn" type="submit" value="修改" style="text-align: center;" />
        </div>
    </section>
</form>

<footer>
    <p>&copy Movie Recommond System by group 1 2022/06/17</p>
</footer>

</body>

</html>