<!--
 * @Description: 
 * @Author: Chen-Liang
 * @Date: 2022-06-21 17:46:55
 * @LastEditors: Chen-Liang
 * @LastEditTime: 2022-06-21 18:11:19
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最热电影</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    <div>
        <h1>Top 25</h1>
        <li>
            <div class="item" th:each="hot:${heat}">
                <a href="/movieInfo"><img class="pic" th:src="@{../../static/image/{id}(id=${hot.image})}"></img></a>
                <div class="info">
                    <div class="name" th:text="${hot.name}">获取电影名称</div>
                    <div class="acter">
                        <div th:text="${hot.director}"></div><br>
                        <div th:text="${hot.types}">获取电影类型</div>
                    </div>
                    <div class="score" th:text="${hot.heat}">热度</div>
                </div>
            </div>
        </li>
    </div>
</body>
</html>